**/Rico_pollo/Rico_pollo
**/Rico_pollo/Riko_pollo/.expo
**/Rico_pollo/Riko_pollo/node_modules
**/calculadora_cietifica/calculadora_cientifica/.expo
**/calculadora_cietifica/calculadora_cientifica/node_modules
**/Contador/contador/.expo
**/Contador/contador/node_modules
**/Inicio_sesion/.expo
**/Inicio_sesion/sesion/node_modules
**/Websocket/node_modules
**/Websocket_archivos