**/Rico_pollo/Rico_pollo
**/Rico_pollo/Riko_pollo/.expo
**/Rico_pollo/Riko_pollo/node_modules
**/calculadora_cietifica/calculadora_cientifica/.expo
**/calculadora_cietifica/calculadora_cientifica/node_modules